<div class="pt-5 pl-3">
<form class="mt-5">
  <div class="form-group">
    <label for="borough">Borough</label>
    <input type="text" class="form-control" name="borough" placeholder="Borough" />
  </div>
  <div class="form-group">
    <label for="page">Page</label>
    <input type="number" class="form-control" name="page" placeholder="Page" />
  </div>
  <div class="form-group">
    <label for="perPage">Items Per Page</label>
    <input type="number" class="form-control" name="perPage" placeholder="Items Per Page" />
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>